@model CloudERP.Web.Models.PasswordNominationModel

@{
    ViewBag.Title = "Nominate Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Nominate your permanent password</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("PasswordNomination", "Pending", FormMethod.Post, new { role = "form" }))
                    {
                        <fieldset>
                            <div class="form-group">
                                @Html.LabelFor(p => p.Password, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.Password, new {@class = "form-control", autofocus = ""})
                                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.PasswordRetype, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.PasswordRetype, new { @class = "form-control", })
                                @Html.ValidationMessageFor(m => m.PasswordRetype, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Log in" class="btn btn-lg btn-success btn-block" />
                            </div>
                        </fieldset>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    }
                </div>
            </div>
        </div>
    </div>
</div>